<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-3">Post edit</h3>
    </div>
    <div class="col-6">
      <form action="/posts/<%= @post.id %>/update" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1">Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please type title" name="title" value="<%= @post.title %>">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Content</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please type content" name="content"><%= @post.content %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">글 수정하기</button>
      </form>
    </div>
  </div>
</div>